In [1]:
import xlwings as xw
import pandas as pd

In [22]:
df = pd.DataFrame([['Liam','Noah','William','James','Logan','Benjamin','Mason','Elijah','Oliver','Jacob'],[1,2,3,4,5,6,7,8,9,10]],
                 index = ['name','student number'])

In [13]:
wb = xw.Book()
sheet = wb.sheets['Sheet1']

In [16]:
sheet.range('A1').value= df
sheet.range('A1').options(pd.DataFrame, expand='table').value

,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0
name,Liam,Noah,William,James,Logan,Benjamin,Mason,Elijah,Oliver,Jacob
student number,1,2,3,4,5,6,7,8,9,10